#grid-selector {

	margin-top: 31px;

	span.dress-price {
		float: right;
		color: blue;
	}

	div.card-content p:first-child {
		font-weight: bold;
	}

	span.dress-type {
		color: rgb(168, 148, 148);
	}

	.card {
		cursor: pointer;
	}

	.card-content {
		padding-top: 5px;
		padding-bottom: 10px;
	}

	div.card-content.colors li {
		list-style: none;
		display: inline-block;
		padding: 5px;
		padding-top: 10px;
	}

	.card-container {
		position: absolute;
		top: 85%;
		background: white;
		left: 0;
		right: 0;
		-webkit-transition: all 450ms ease-in-out;
		-mozkit-transition: all 450ms ease-in-out;
		transition: all 450ms ease-in-out;
	}

	.overlay {
		position: absolute;
		top: 0;
		bottom: 100%;
		left: 0;
		right: 0;
		z-index: 5;
		background-color: #5ff7d2;
		opacity: 0.7;
		-webkit-transition: all 450ms ease-in-out;
		-mozkit-transition: all 450ms ease-in-out;
		transition: all 450ms ease-in-out;
	}

	.overlay.open {
		bottom: 48%;
	}

	.card-container.open {
		top: 52%;
		z-index: 6;
	}

	.button {
		position: absolute;
		left: 0;
		right: 0;
	
		p {
			width: 50%;
			text-align: center;
			margin: auto;
			line-height: 40px;
			border: 1px solid rgb(223, 209, 209);
			background-color: white;
			color: rgb(137, 76, 76);
			font-weight: bold;
		}
	}

	.add-to-cart {
		bottom: 56%;
	}

	.view-gallery {
		bottom: 31%;
	}
}
#sidebar {
	
	min-width: 250px;
	border-right: 1px solid rgb(232, 230, 230);

	h3 {
		color: #262626;
		text-transform: uppercase;
		font-size: 14px;
		font-weight: 700;
		letter-spacing: 1px;
		clear: both;
	}

	.sizes {
		ul {
			margin-right: 50px;
			display: inline-block;
		}
	}
}

.colors {
	ul {
		margin-right: 50px;
		display: inline-block;
	}

	a {
		div {
			border: none;
			position: relative;
			border-radius: 100%;
			width: 13px;
			height: 13px;
			margin-left: 0;
			margin-right: 10px;
			display: inline-block;
		}

		div:hover {
			width: 15px;
			height: 15px;
		}

		.beige {
			background-color: #eae3d3;
		}

		.black {
			background:#222;
		}

		.blue {
			background:#6e8cd5;
		}

		.brown {
			background:#f56060;
		}

		.green {
			background:#44c28d;
		}

		.grey {
			background:#999;
		}

		.orange {
			background:#f79858;
		}

		.purple {
			background:#b27ef8;
		}

		.red {
			background:#f56060;
		}

		.white {
			background:#fff;
			border: 1px solid #e8e9eb;
			width:13px;
			height:13px;
		}
	}
}